// Versions of workflows
params.hdiprepVersion     = '1.0.3'
params.hdiregVersion     = '0.1.1'

// configure platform-specific profiles
profiles {

  // Default profile for local machine
  standard {
    includeConfig 'config/docker.config'
  }

  // profile for local runs with large memory limits
  standardBig {
    includeConfig 'config/docker.config'
    includeConfig 'config/big.config'
  }

  // profile for local runs with large memory and cpu limits
  standardBigMulti {
    includeConfig 'config/docker.config'
    includeConfig 'config/big.config'
    includeConfig 'config/multi.config'
  }
}
