docker.enabled = true

// docker version for each process defined in miaaim
process {
  withName:hdiprep        {container = "joshuahess/hdi-prep:${params.hdiprepVersion}"}
  withName:elastix        {container = "joshuahess/hdi-reg:${params.hdiregVersion}"}
  withName:transformix    {container = "joshuahess/hdi-reg:${params.hdiregVersion}"}
}
